@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Para Mascotas</h1>
    <h2> Hospital Publico para Perros , Gatos y demas mascotas   </h2>


    <img src= "http://clinicaveterinariagatican.com/wp-content/uploads/2017/08/perro-doctor.png "> </img>
   
   <p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
